extends layout.pug

block content
  h2 Login

  form(method="POST" action="/login")
    div(class="form-group")
      label(for=username) Username
      input(name="username" type="text" class="form-control")
    div(class="form-group")
      label(for=password) Password
      input(name="password" type="password" class="form-control")
    div(class="form-group")
      button(type="submit" class="btn btn-primary") Login
