extends layout.pug

block content
  p Login

  p #{message}

  form(method="POST" action="/login")
    input(name="username" type="text")
    input(name="password" type="password")
    button(type="submit") Login
