extends layout.pug

block content
  h2 Pokemons available to buy
  a(href="/pokemons/new" class="btn btn-default")
    i(class="glyphicon glyphicon-plus")
    | Create your own Pokemon!
  table(class="table")
    thead
      tr
        th #{'#'}
        th Name
        th Description
        th Price
    tbody
      each pokemon in data
        tr
          td
            = pokemon.number
          td
            = pokemon.name
          td
            = pokemon.description
          td
            = pokemon.price
          td
            button(onclick=`addToCart(${JSON.stringify(pokemon)})`) Add to cart
  button(onclick=`order()` class="btn btn-primary") Check out!!
