extends layout.pug

block content
  h2 Register

  form(method="POST" action="/register")
    input(name="username" type="text")
    input(name="password" type="password")
    button(type="submit") Register
